# name: pr_service

services:
  postgres:
    image: postgres:15
    container_name: ${POSTGRES_HOST}
    env_file:
      - .env
    volumes:
      - ./internal/migrations:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 10s
    ports:
      - "${POSTGRES_PORT:-5433}:5432"
    networks:
      - internal
  service:
    build:
      context: ./
      dockerfile: ./build/Dockerfile
    container_name: service
    env_file:
      - .env
    environment:
        ENV: "development"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - internal


networks:
  internal: